@font-face
{
    font-family: "Old English Text MT";
    src: url("font/Old English Text MT.ttf");
}

h1
{
    font-family: "Old English Text MT";
    font-size: 70px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

img.ontop
{
    display: block;
    width: 80%;
    margin: auto;
}

h2
{
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: "Kelly Slab", cursive;
    font-size: 40px;
    text-transform: uppercase;
    -webkit-column-break-inside: avoid;
}

body
{
    background: url(img/background2.jpg);
}

.newspaper
{
    -webkit-column-count: 4;
    -webkit-column-rule: 1px solid black;;
    font-size: 15px;
    font-family: 'Jura', sans-serif;
    hyphens: manual;
}

blockquote
{
    display: block;
    text-align: center;
    border-left: 4px solid black;
    border-right: 4px solid black;
    padding-top: 15px;
    padding-bottom: 0;
    margin: 10px;
    font-family: arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.author
{
    font-weight: lighter;
    display: block;
    text-align: right;
    margin-bottom: 20px;
}

figcaption
{
    font-size: 13px;
    font-weight: bold;
}

.article:first-letter
{
    font-size: 50px;
    font-weight: bold;
}

.newspaper img
{
    width: 100%;
    margin: auto;
}

figure.single
{
    display: block;
    width: 100%;
    margin: auto;
    -webkit-column-break-inside: avoid;
}

.addinfo
{
    display: block;
    margin: 5px;
    border: 10px double black;
    padding: 5px;
    -webkit-column-break-inside: avoid;
}

img.oncenter
{
    display: block;
    -webkit-column-span: all;
    width: 50%;
}